.chatlist-body {
  background-color: #161717;
  display: flex;
  height: 100%;
}

.chatlist-message {
  border-right: 1px solid rgb(70, 70, 70);
  min-width: 25%;
  max-width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chatlist-history {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* right side (detail message) */
.chatlist-body > :nth-child(3) {
  width: 100%;
}
